/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f4f4f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2563eb;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 #f4f4f5;
}


html {
  scroll-behavior: smooth;
}

@keyframes fadeInSlideUp {
  0% { 
    opacity: 0; 
    transform: translateY(20px); 
  }
  100% { 
    opacity: 1; 
    transform: translateY(0); 
  }
}

.shadow-custom-3d {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
              0 4px 6px -2px rgba(0, 0, 0, 0.05),
              0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.animar-logo-fadeInUp {
  animation: fadeInSlideUp 1s ease-out forwards;
}

 /*Lógica das logos de parceria*/
 @keyframes marqueeX {
    from { transform: translateX(0); }
    to   { transform: translateX(-40%); }
  }
  .marquee-track {
    width: max-content;
    animation: marqueeX 28s linear infinite;
    will-change: transform;
  }

  /* Respeita usuários com redução de movimento */
  @media (prefers-reduced-motion: reduce) {
    .marquee-track { animation: none; }
  }

/* Ocultar barra de rolagem de forma cross-browser */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}
